.recommended-flex {
    display: flex;
    margin-left: 20rem;
  }
  
  .recommended-title {
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
  }


  /* Tablet view */
@media (max-width: 1024px) {
    .recommended-flex,
    .recommended-title {
      margin-left: 10rem; /* Adjust the margin for tablet */
    }
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    .recommended-flex,
    .recommended-title {
      margin-left: 1rem; /* Adjust the margin for mobile */
      margin-right: 1rem; /* Optionally add right margin for consistency */
    }
    .recommended-title {
      font-size: 18px; /* Optionally adjust font size for mobile */
      margin-bottom: 15px; /* Optionally adjust margins for mobile */
      margin-top: 15px;
    }
  }