.layout {
    display: flex;
    transition: all 0.3s ease;
  }
  
  .sidebar {
    width: 250px;
    transition: width 0.3s ease;
  }
  
  .sidebar.collapsed {
    width: 50px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .sidebar.collapsed .logo-container h1 {
    display: none;
  }
  
  .sidebar.collapsed .category,
  .sidebar.collapsed .price,
  .sidebar.collapsed .colors {
    display: none;
  }
  
  .content {
    flex-grow: 1;
    transition: width 0.3s ease;
  }
  
  /* When sidebar is collapsed, content should take full width */
  .layout.collapsed .content {
    width: calc(100% - 50px);
  }
  
  /* When sidebar is expanded, content should take the remaining width */
  .layout .content {
    width: calc(100% - 250px);
  }
  
  .sidebar {
    width: 15%;
    position: fixed;
    height: 100%;
    border-right: 2px solid #e5e5e5;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 8rem; 
  }
  
  .logo-container {
    margin-bottom: 4rem;
  }
  
  .logo-container h1 {
    margin-top: 1.3rem;
  }


  /* Tablet view */
@media (max-width: 1024px) {
    .sidebar {
      width: 20%; /* Adjust width for tablet */
    }
    
    .logo-container {
      margin-bottom: 3rem; /* Adjust bottom margin for tablet */
    }
    
    .logo-container h1 {
      margin-top: 1rem; /* Adjust top margin for tablet */
    }
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%; 
      position: relative;
      height: auto; 
      border-right: none; 
      border-bottom: 2px solid #e5e5e5; 
    }
    
    .logo-container {
      margin-bottom: 2rem; 
    }
    
    .logo-container h1 {
      margin-top: 0.8rem; /* Adjust top margin for mobile */
    }
  }





