nav {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;
    position: fixed; /* Fixes the navbar at the top */
    top: 0; /* Positions the navbar at the top */
    left: 0;
    right: 0;
    background-color: white; /* Ensures the navbar background is visible when scrolling */
  }
  
  input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
  }
  
  .nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
  }
  
  /* Tablet view */
  @media (max-width: 1024px) {
    nav {
      padding: 15px;
      margin-left: 1rem;
    }
  
    input {
      padding: 10px 15px;
      width: 12rem;
      margin-right: 15px;
    }
  
    .nav-icons {
      width: 1.2rem;
      height: 1.2rem;
      margin-left: 1rem;
    }
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      margin-left: 0;
    }
  
    input {
      padding: 8px 12px;
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .nav-icons {
      width: 1rem;
      height: 1rem;
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
  